# This is a basic workflow to help you get started with Actions

name: Push To MC Server

# Controls when the workflow will run
on:
  # Triggers the workflow on push
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Send initial message
        uses: wolfigster/rcon-action@v1.0.2
        with:
          server: ${{ secrets.MC_IP }}
          port: '8106'
          password: ${{ secrets.RCON_PASSWORD }}
          commands: '["say Uploading datapack files..."]'

      # Install lftp
      - name: Install lftp
        run: sudo apt-get install -y lftp

      # Uploads the `data` directory to the server via SFTP with host key verification disabled
      - name: Upload data directory
        run: |
          echo "Uploading data directory to server"
          lftp -u ${{ secrets.SFTP_USERNAME }},${{ secrets.SFTP_PASSWORD }} sftp://${{ secrets.SFTP_IP }} -e "
            set sftp:connect-program 'ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null';
            mirror -R data/ /world/datapacks/disaster-game/data;
            bye"
              
      - name: Reload MC server
        uses: wolfigster/rcon-action@v1.0.2
        with:
          server: ${{ secrets.MC_IP }}
          port: '8106'
          password: ${{ secrets.RCON_PASSWORD }}
          commands: '["say Datapack updated! Reloading...", "reload"]'
